---
layout: base
---

{% if paginator.page == 1 %}
    {% for page in paginator.posts limit:1 offset:0 %}
        <section class="content body">
            <article>
                {% include article_infos_basic_read_later.html %}
                <h1 class="entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
                {{ page.content }}
                {% include taglist.html %}
                {% include comments.html %}
            </article>
        </section>
    {% endfor %}
{% endif %}

{% if paginator.page == 1 %}
    {% assign page_offset = 1 %}
{% else %}
    {% assign page_offset = 0 %}
{% endif %}

<section class="content body">
    <a name="#paging" />
    <h1>Previous posts</h1>
    <hr />
    <ol id="posts-list" class="hfeed">

    {% include pagination.html %}

    {% for page in paginator.posts offset:page_offset %}
        {% include article_infos.html %}
    {% endfor %}

    {% include pagination.html %}

    </ol>
</section>