{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{# {% block description %}{{ article.summary }}{% endblock %} #}
{% block content %}        
<section id="content" class="body">    
<article>
        <header> 
        {% include 'article_infos_basic.html' %}
        <h1 class="entry-title"><a href="{{ pagename }}"
        rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title
        }}</a></h1> {% include 'twitter.html' %} </header>
        <div class="entry-content single-post">
        
        {{ article.content }}
        </div><!-- /.entry-content -->

        {% include 'taglist.html' %}

        {% if DISQUS_SITENAME %}
        <div class="comments">
        <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}

</article>
</section>


{% if articles_page %}
    <section id="content" class="body">
        <h1>Recent posts</h1>
        <hr />
        <ol id="posts-list" class="hfeed">
            {% for article in articles_page.object_list %}
                {% include 'recent_article_infos.html' %}
        
                {% if loop.last and (articles_page.has_previous() 
                   or not articles_page.has_previous() and loop.length > 1) %}
                    {% include 'pagination.html' %}
                {% endif %}
            {% endfor %}
        </ol><!-- /#posts-list -->
    </section><!-- /#content -->
{% endif %}
{% endblock %}
