<footer class="post-info">
        <abbr class="published" title="{{ page.date.isoformat() }}">
                {{ page.locale_date }}
        </abbr>

        {% if page.author %}
        <address class="vcard author">
                By <a class="url fn" href="{{ SITEURL }}/author/{{ page.author }}.html">{{ page.author }}</a>
        </address>
        {% endif %}
<p>In <a href="{{ SITEURL }}/category/{{ page.category }}.html">{{ page.category }}</a>. {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get the pdf</a>{% endif %}</p>
{% include 'taglist.html' %}
{% include 'translations.html' %}
</footer><!-- /.post-info -->
