
    <li><article class="hentry">    
        <header>
                <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h1>
        </header>
        
        <div class="entry-content">
        {% include 'article_infos_basic.html' %}
        {{ article.summary }}
<div class="readmore">
        	<a href="{{ SITEURL }}/{{ article.url }}">read more</a>
</div>
        {% include 'taglist.html' %}{% include 'comments.html' %}
        </div><!-- /.entry-content -->
    </article></li>