---
layout: base
---

<section class="content body">
<article>
    <header>

    {% include article_infos_basic_read_later.html %}

    <h1 class="entry-title">
        <a href="{{ page.url }}" rel="bookmark" title="Permalink to {{ page.title }}">
        {{ page.title }}
        </a>
    </h1>
    </header>
    <div class="entry-content single-post">

    {{ content }}

    </div><!-- /.entry-content -->

    {% include taglist.html %}

    {% if site.disqus_sitename %}
        <div class="comments">
        <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ page.url }}";
               var disqus_url = 'http://theon.github.com/{{ page.url }}';
               var disqus_title = '{{ page.title }}';

               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ site.disqus_sitename }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
    {% endif %}
</article>
</section>

{% if site.related_posts %}
<section class="content body">
    <h1>Related Posts</h1>
    <hr />
    <ol id="posts-list" class="hfeed">
        {% for page in site.related_posts %}
        {% include article_infos.html %}
        {% endfor %}
    </ol>
</section>
{% endif %}